

<style media="screen">
	body {
	   margin: 0;
	}

	#products {
		position: inherit;

	}

	.header {
	    height: 200px;
	    background-color: #446B3A;
	    text-align: center;
	}

	.header h1 {
	    margin-top: 0;
	    padding-top: 20px;
	}

	.menu {
	    margin: 0;
	    padding: 0;
	    width: 100%;
	    background-color: #00795F;
	    bottom: 0;
			position:sticky;
			z-index:1; /*Add this*/
			width:100%;
			height:50px;
			text-align:center;
			vertical-align:middle;
			line-height:50px;
	}

	.menu li {
	    display: inline-block;
	    text-align: center;
	    width: 13%;
	}

	.menu li:hover,
	.menu li:focus {
	    background-color: #66FFE3;
	}

	.menu a {
	    display: block;
	    padding: 10px 0;
	    text-decoration: none;
	}

	.sticky {
	    top: 0;
	    position: fixed;
	}

	.container {
	  padding: 0 20px;
	  color: #989898;
	}
a{
	text-decoration: none;
	color: inherit;
}
@media only screen
    and (device-width : 375px)
    and (device-height : 812px)
    and (-webkit-device-pixel-ratio : 3) {
		.home-pagecontent .well {
			font-size: 40px !important;
			height: 25px;

			}
		.home-pagehead h1 {
			margin-top: 70px;
			font-size: 166px !important;
			height: 235px;
		}
		.home-pagemid h1 {
			margin-top: 170px;
			font-size: 86px !important;
			height: 285px;
		}
}
</style>

<div class="header">
	<h1>My big company!</h1>
</div>
<ul class="row menu">
	<% Category.all.each do |category| %>
	<li class="<%= 'active' if params[:category] == category.name %>" ><%= link_to category.name, products_path(category: category.name)%></li>
	<% end %>
	<li><%= link_to "Upload", new_product_path%></li>
</ul>

	<div class=" home-pagemid">
    <% if @products.empty? %>
    		<h1><%= link_to "Upload Something....", new_product_path %></h1>
				<div id="products" class="row sticky grid-group">
					<% 1000.times do %>
					<% name = Faker::Superhero.name %>
					<% price = Faker::Number.decimal(2, 2) %>
					<% image = Faker::Avatar.image(name, "400x250") %>
						<div class="item  col-xs-4 col-lg-4">
								<div class="thumbnail">
									<img class="group grid-group-image" src=" <%= image %> " alt="" />
										<div class="caption">
												<h4 class="group inner grid-group-item-heading">
														<%= name %></h4>
												<p class="group inner grid-group-item-text">
														Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit,
														sed diam nonummy nibh euismod tincidunt ut laoreet dolore magna aliquam erat volutpat.</p>
												<div class="row">
														<div class="col-xs-12 col-md-6">
																<p class="lead">
																		$<%= price %></p>
														</div>
														<div class="col-xs-12 col-md-6">
																<a class="btn btn-success" href="http://www.jquery2dotnet.com">Add to cart</a>
														</div>
												</div>
										</div>
								</div>
						</div>
						<% end %>

				</div>
			</div>


    <% else %>
		<ul class="product-list">


	<% @products.each do |product| %>
	<div class="card" style="width: 18rem;">
		<%= image_tag product.product_img.url(:product_show), class: 'card-img-top' %>
	  <div class="card-body">
	    <h5 class="card-title"><%= product.name %></h5>
	    <h5 class="card-title"><%= number_to_currency(product.price) %></h5>
			<%= link_to "Details", product_path(product), class: "btn btn-primary" %>
	  </div>
	</div>
	<% end %>

<% end %>
</div>


<script type="text/javascript">
$(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});

</script>
