

<style media="screen">
.pagecontent header{
	background: #00795F;
	width: 100%;
	padding: 40px 0;
	color: white;
	text-align: center;
}
.pagecontent nav ul{
	background-color: #43A286;
	color: white;
	padding: 0;
	margin: 0;
	text-align: center;
	overflow: hidden;
	-webkit-transition: max-height 0.4s;
	-ms-transition: max-height 0.4s;
	-moz-transition: max-height 0.4s;
	-o-transition: max-height 0.4s;
	transition: max-height 0.4s;
}
.pagecontent nav ul li{
	display: inline-block;
	padding: 20px;
}
.pagecontent nav ul li:hover{
	background-color: #399077
}
a{
	text-decoration: none;
	color: inherit;
}
</style>

<div class="pagecontent">

  <header>
    <h1>OfferOff</h1>
	</header>
	<nav>
			<ul>

        <% Category.all.each do |category| %>
        <li class="<%= 'active' if params[:category] == category.name %>">
          <%= link_to category.name, products_path(category: category.name), {:style => 'color: white'} %>
        </li>

        <% end %>

			</ul>
		</nav>
	<section>
		<div class="container">


		</div>

    <% if @products.empty? %>
    <h1>Blah</h1>
    <% else %>
<ul class="product-list">


	<% @products.each do |product| %>
	<div class="card" style="width: 18rem;">
		<%= image_tag product.product_img.url(:product_show), class: 'card-img-top' %>
	  <div class="card-body">
	    <h5 class="card-title"><%= product.name %></h5>
	    <h5 class="card-title"><%= number_to_currency(product.price) %></h5>
			<%= link_to "Details", product_path(product), class: "btn btn-primary" %>
	  </div>
	</div>
	<% end %>

  <%# <li class="product-list__item product">
    <a class="product__image-link" href="#" title="Donec in lacus eget odio interdum efficitur">
      <img alt="" class="product__image" src="https://unsplash.it/200/250/?randomhttps://unsplash.it/200/300/?random"/>
    </a>
    <div class="product__info">
      <h2 class="product__title">
        <a class="product__title-link" href="#" title="Donec in lacus eget odio interdum efficitur">Donec in lacus eget odio interdum efficitur</a>
      </h2>
      <h3 class="product__brand">
        <a class="product__brand-link" href="#" title="Nulla vel libero">Nulla vel libero</a>
      </h3>
      <div class="product__price">
        <span class="product__old-price">&euro; 999,00</span>
        <span class="product__special-price">&euro; 999,00</span>
      </div>
    </div>
  </li>
</ul> %>
<% end %>
</div>


<script type="text/javascript">
$(window).load(function() {
  $('.post-module').hover(function() {
    $(this).find('.description').stop().animate({
      height: "toggle",
      opacity: "toggle"
    }, 300);
  });
});

</script>
