<style media="screen">
  @import url('https://fonts.googleapis.com/css?family=Raleway:300,400,700');

  *{
    margin: 0;
    padding: 0;
    outline: none;
    box-sizing: border-box;
    font-family: 'Raleway', sans-serif;
  }

  body{ background: #00795F; }

  .cont{
    position: relative;
    width: 25%;
    height: 400px;
    padding: 10px 25px;
    margin: 10vh auto;
    background: #fff;
    border-radius: 22px;
  }

  .form{ width: 100%; height: 100%; }

  h1, h2, .user, .pass{
    text-align: center;
    display: block;
  }

  h1{
    color: #606060;
    font-weight: bold;
    font-size: 40px;
    margin: 30px auto;
  }

  .user, .pass, .login{
    width: 100%;
    height: 45px;
    border: none;
    border-radius: 5px;
    font-size: 20px;
    font-weight: lighter;
    margin-bottom: 30px;
  }

  .user, .pass{ background: #ecf0f1; }

  .login{
    color: #fff;
    cursor: pointer;
    margin-top: 20px;
    background: green;
    transition: background 0.4s ease;
    border-radius: 22px;
  }

  .login2 {
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
  }

@media only screen
    and (device-width : 375px)
    and (-webkit-device-pixel-ratio : 3) {
      h2{ color: #fff; margin-top: 25px; }
      .cont{
        width: 85%;
        height: 600px;
       }
       .user, .pass, .login{
         width: 100%;
         height: auto;
         border: none;
         border-radius: 16px;
         margin-bottom: 50px;
       }

       body{
         font-weight: 30px;
         background: #00795F;
       }

       input[type='checkbox'] {
        width: 30px;
        height: 30px;
        }

        .lab {
          margin: 60px;
        }

       html * {
      font-size: 35px !important;
      font-weight: bold !important;
      overflow: hidden;
        }
     }
</style>


<%= devise_error_messages! %>


<div class="cont">

  <div class="form">
    <form action="">
      <h1 class="lab" >Login</h1>
      <%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
      <%= f.email_field :email, class: "user", autocomplete: "email", placeholder: "Email" %>

      <%= f.password_field :password, autocomplete: "current-password", class: "pass", placeholder: "Password" %>
      <%= hidden_field_tag :authenticity_token, form_authenticity_token %>
      <% if devise_mapping.rememberable? -%>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me, class: "remember" %>
      <br>
      <button class="login" >
      <%= f.submit "Log in ||",  class: "login2" %>

      <small>
        <%= link_to "Sign up", new_user_registration_path, style: "font-weight:bold;color:lime ;" %>
      </small>
    </button>


    <% end -%>
      <% end %>

    </form>
  </div>


</div>
