<style media="screen">
  .glyphicon { margin-right:5px; }
  * {
      margin: 0 !important;
  }
  .thumbnail
  {
      margin-bottom: 20px;
      padding: 0px;
      -webkit-border-radius: 0px;
      -moz-border-radius: 0px;
      border-radius: 0px;
  }

  .item {
      float: none;
      width: 100%;
      background-color: #fff;
      margin-bottom: 10px !important;
  }
  .item.list-group-item:nth-of-type(odd):hover,.item.list-group-item:hover
  {
      background: #428bca;
  }

  .item.list-group-item .list-group-image
  {
      margin-right: 10px;
  }
  .item.list-group-item .thumbnail
  {
      margin-bottom: 0px;
  }
  .item.list-group-item .caption
  {
      padding: 9px 9px 0px 9px;
  }
  .item.list-group-item:nth-of-type(odd)
  {
      background: #eeeeee;
  }

  .item.list-group-item:before, .item.list-group-item:after
  {
      display: inline;
      content: " ";
  }

  .item.list-group-item img
  {
      float: left;
  }
  .item.list-group-item:after
  {
      clear: both;
  }
  .list-group-item-text
  {
      margin: 0 0 11px;
  }
  .well {
    margin: 20px !important;
  }
  @media only screen
      and (device-width : 375px)
      and (-webkit-device-pixel-ratio : 3) {
        * {
          font-size: 26px !important;
          font-weight: bold !important;
          overflow-x: hidden;
        }
      }
</style>
<div class="mar">

    <div class="well well-sm">
        <h2>Categories:</h2>
        <div class="btn-group">
          <% Category.all.each do |category| %>
          <span class="<%= 'active' if params[:category] == category.name %>">
            <%= link_to category.name, products_path(category: category.name), class: 'btn btn-default btn-sm', id: "list" %>
          </span>
          <% end %>
          <span class="active">
            <%= link_to "Upload", new_product_path, class: 'btn btn-default btn-sm', id: "list", style: "background-color:black;color:white !important;" %>
          </span>
        </div>

    </div>
    <% if @products.empty? %>
    <h1><%= link_to "Upload Something....", new_product_path %></h1>
    <div id="products" class="row grid-group">
      <% 10.times do %>
      <% name = Faker::Superhero.name %>
      <% price = Faker::Number.decimal(2, 2) %>
      <% image = Faker::Avatar.image(name) %>
      <div class="item  col-xs-4 col-lg-4">
        <div class="thumbnail">
          <img class="group grid-group-image" src=" <%= image %> " alt="" />
          <div class="caption">
            <h4 class="group inner grid-group-item-heading">
              <%= name %></h4>
              <p class="group inner grid-group-item-text">
                Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit
              </p>
              <div class="row">
                <div class="col-xs-12 col-md-6">
                  <a class="btn btn-success"  >$<%= price %></a>
                </div>
              </div>
            </div>
          </div>
        </div>
        <% end %>
        <% elsif @products.count != 0 && @products.count <= 3 %>
        <% @products.each do |product| %>
        <div id="products" class="row grid-group">
          <div class="item  col-xs-4 col-lg-4">
            <div class="thumbnail">
              <%= image_tag product.product_img.url(:product_show), class: 'group grid-group-image'%>
              <div class="caption">
                <h4 class="group inner grid-group-item-heading">
                  <%= product.name %></h4>
                  <p class="group inner grid-group-item-text">
                    Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                  </p>
                  <div class="row">
                    <div class="col-xs-12 col-md-6">
                      <%= link_to "$#{product.price}", product_path(product), class: "btn btn-success" %>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <% end %>
            <% 10.times do %>
            <% name = Faker::Superhero.name %>
            <% price = Faker::Number.decimal(2, 2) %>
            <% image = Faker::Avatar.image(name) %>
            <div class="item  col-xs-4 col-lg-4">
              <div class="thumbnail">
                <img class="group grid-group-image" src=" <%= image %> " alt="" />
                <div class="caption">
                  <h4 class="group inner grid-group-item-heading">
                    <%= name %></h4>
                    <p class="group inner grid-group-item-text">
                      Product description... Lorem ipsum dolor sit amet, consectetuer adipiscing elit
                    </p>
                    <div class="row">
                      <div class="col-xs-12 col-md-6">
                        <a class="btn btn-success"  >$<%= price %></a>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
              <% end %>
              <% end %>

            </div>
            </div>


<script type="text/javascript">
  $(document).ready(function() {
    $('#list').onclick(function(event){event.preventDefault();$('#products .item').addClass('list-group-item');});
    $('#grid').onclick(function(event){event.preventDefault();$('#products .item').removeClass('list-group-item');$('#products .item').addClass('grid-group-item');});
});
</script>
