<br>
<br>
<% if params[:category].blank? %>
<h2 >Products</h2>
<% else %>
<h2>
<%= params[:category] %>
</h2>
<% end %>
<div class="card">
  <h5 class="card-header">
    <% Category.all.each do |category| %>
      <span id="catbtn" class="<%= 'active' if params[:category] == category.name %>">
        <%= link_to category.name, products_path(category: category.name), class: 'link' %>
      </span>
    <% end %>
  </h5>
  <div class="card-body">

  </div>
</div>

<% if @products.empty? %>
<h1>Blah</h1>
<% else %>


  <% @products.each do |product| %>


    <div id="pro" class="card" style="width: 18rem;">
  <%= image_tag product.product_img.url(:product_index), class: 'card-img-top' %>
  <div class="card-body">
    <h3 class="card-title"><%= product.name %> </h3>
    <p class="card-text">Price: <%= number_to_currency(product.price) %></p>
    <p class="card-text">Posted: <%= time_ago_in_words(product.created_at) %></p>
    <%= link_to "Offer", product_path(product), class: "btn btn-primary" %>
  </div>
</div>
  <% end %>
<% end %>
<br>

<%= link_to 'New Product', new_product_path %>
